body{
    background-color:white;
}


.flex-container-banner{
    background-color: darkblue;
    font-weight: bold;
    font-size: large;
    color:white;
    width: 100%;
}

nav {
    margin: 3px;
    width: 100%;
    height: 30px;
    background: darkblue;
    padding: 10px;
    justify-content: flex-end;
    display:flex;
    flex-direction: row;
    gap: 30px;
}   

#language {
    height: 100%;
    width: 30px;
    background:lightblue;
    margin: 0;
    align-items: flex-end;
}

#profile {
    width: 30px;
    height: 100%;
    background: lightblue;
}

#location{
    width: 30px;
    height: 100%;
    background: lightblue;
}

#search{
    width: 30px;
    height:100%;
    background: lightblue;
}

#bag{
    width: 30px;
    height:100%;
    background: lightblue;
}



section{
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    margin: 3px;
    width: 100%;
    height: 30px;
    background: darkblue;
    padding: 10px;
    gap: 30px;
}
#logo{
    width: 400px;
    height: 100%;
    background: lightblue;
}

#body{
    width: 30px;
    height: 100%;
    background: lightblue;
}

#hair{
    width: 30px;
    height:100%;
    background: lightblue;
}

#fragrance{
    width: 30px;
    height:100%;
    background: lightblue;
}

#candles{
    width: 30px;
    height:100%;
    background: lightblue;
}

#best-seller{
    width: 30px;
    height:100%;
    background: lightblue;
}

#gifts{
    width: 30px;
    height:100%;
    background: lightblue;
}

#travel{
    width: 30px;
    height:100%;
    background: lightblue;
}

#blog{
    width: 30px;
    height:100%;
    background: lightblue;
}

.picture-frame{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 180px;
    align-items: center;
    background: darkblue;
    grid-template-columns: repeat(2, 1fr);

}
#words{
    width: 50%;
    height:100%;
    background: rgb(133, 133, 211);
}
#shop-treatment{
    width: 140px;
    height: 40px;
    background: lightblue;
    margin:15%;

}
#product-picture{
    width: 50%;
   height: 100%;
    background: lightblue;
}


.product-recom{
    width: 100px;
    height:300px;
    background: darkblue;

}

#product{
    width: 50px;
    height:100%;
    background: lightblue;
}



.botton{
    background-color: wheat;
    padding-block: 20px;
    display: grid;
    justify-items: center;
    justify-content: space-around;
}

.another-container{
    background-color:lightcyan;
    padding:180px;
    flex-direction: row;
    display:grid;
    grid-template-columns: repeat(4, 1fr);

}

#second{
    grid-column-start: 1;
    grid-column-end: 3;
}

.another-2container{
    background-color:rgb(13, 214, 214);
    padding:180px;
    flex-direction: row;
    display:grid;
    grid-template-columns: repeat(4, 1fr);

}

.another-3container{
    background-color:rgb(21, 78, 78);
    padding:180px;
    flex-direction: row;
    display:grid;
    grid-template-columns: repeat(4, 1fr);

}

.another-4container{
    background-color:rgb(108, 122, 122);
    padding:180px;
    flex-direction: row;
    display:grid;
    grid-template-columns: repeat(5, 1fr);

}

.fifth-container{
    background-color:rgb(150, 114, 145);
    padding: 180px;
    flex-direction: row;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
   justify-content: start;
}

.fifth-container-item{
    background-color: lightskyblue;
    height: 180px;
    width: 180px;
}


.sixth-container{
    background-color:rgb(108, 122, 122);
    padding:180px;
    flex-direction: row;
}

.sixth-container-item{
    
}

.seventh-container{
    background-color: lightskyblue;
    height: 180px;
    flex-direction: row;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
}

.eighth-container{
    background-color: rgb(110, 116, 90);
    height: 180px;
    flex-direction: row;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}

.ninth-container{
    background-color: darkblue;;
    padding:200px;
    
}